<configuration>
  <connectionStrings>
    <add name="AdminConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Vannsar\Documents\IOTprj\Admin_Dashboard\Admin_Dashboard\TemporaryDatabase.mdf;Integrated Security=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>