<configuration>
  <connectionStrings>
    <add name="AdminConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Users\211792H\Documents\Visual Studio 2015\Projects\Admin_Dashboard\Admin_Dashboard\TemporaryDatabase.mdf;Integrated Security=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>